# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.pdb
*.ilk

# IDE / Editor Files
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build Directories
build/
bin/
x64/
Debug/
Release/

task.md

architecture_and_design/